/* src/App.css */
body {
  background-color: #f8f9fa; /* Light background color */
}

form {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* background-color: lightgray; */
}

.alert {
  margin-top: 10px;
}
